html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  text-align: center;
}

.submitBtn {
  cursor: pointer;
}

.headerSet {
  display: flex;
  width: 1000px;
  font-size: 32px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.labelArea {
  display: flex;
  background-color: #ffffff;
  width: 300px;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.inputData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-bottom: 15px;
}

.inputData > .inputTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 20px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}

.inputData > .inputDoList {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  font-size: 20px;
}

.labelArea > .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #198754;
  font-size: 1rem;
  color: white;
  border: transparent;
  width: 120px;
  height: 40px;
}

.labelArea > .submitBtn:hover {
  background-color: #157347;
  transition: all 0.3s;
}

.mainArea {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  min-height: 800px;
  align-items: center;
}
.mainArea > .ListBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  min-height: 800px;
  background-color: #ffffff;
  font-size: 32px;
}

.ToDoList,
.DoneLine {
  display: flex;
  align-items: flex-end;
  font-size: 32px;
  margin: 0 10px -5px 50px;
}
.mainArea > .ListBox > .ReadyItemBox {
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}

.mainArea > .ListBox > .DoneItemBox {
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
  height: 200px;
  border: 2px solid #7185da;
  background-color: #f5f5f5;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}
.itemBox:hover {
  width: 450px;
  height: 300px;
  transition-duration: 0.5s;
}
.itemBox:hover > .contentName {
  width: 420px;
  transition-duration: 0.5s;
}
.itemBox:hover > .content {
  width: 420px;
  height: 260px;
  transition-duration: 0.5s;
}

.itemBox > .contentName {
  display: flex;
  width: 250px;
  height: 30px;
  margin: 10px;
  font-size: 22px;
  color: #333333;
  align-items: center;
}

.itemBox > .content {
  margin: 10px;
  width: 250px;
  height: 60px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.itemBox > .btnHandler {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.btnHandler > .deleteBtn > .submitBtn {
  background-color: #363636;
  color: #dfdfdf;
  font-size: 1rem;
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 0.1rem;
}

.btnHandler > .deleteBtn > .submitBtn:hover {
  background-color: #45484a;
  transition: all 0.3s;
}

.doneYetBtn > .doneBtn > .submitBtn {
  background-color: #3977f0;
  color: #dfdfdf;
  border: transparent;
  font-size: 1rem;
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 1rem;
}
.doneYetBtn > .doneBtn > .submitBtn:hover {
  background-color: #0a58ca;
  transition: all 0.3s;
}

.doneYetBtn > .yetBtn > .submitBtn {
  background-color: #671818;
  color: #dfdfdf;
  border: transparent;
  font-size: 1rem;
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 1rem;
}

.doneYetBtn > .yetBtn > .submitBtn:hover {
  background-color: #a52834;
  transition: all 0.3s;
}
