html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerSet {
  display: flex;
  width: 1000px;
  font-size: 32px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.labelArea {
  display: flex;
  background-color: #f3f1f1;
  width: 300px;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.inputData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-bottom: 15px;
}

.inputData > .inputTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 20px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}

.inputData > .inputDoList {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  font-size: 20px;
}

.labelArea > .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #198754;
  color: white;
  border: transparent;
  width: 120px;
  height: 40px;
}

.mainArea {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  min-height: 800px;
  align-items: center;
}
.mainArea > .ListBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  min-height: 800px;
  border: 1px solid darkcyan;
}

.mainArea > .ListBox > .ReadyItemBox {
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  min-height: 400px;
  align-items: center;
}

.centerLine {
  display: flex;
  align-items: center;
  border: 0.9px dashed rgb(0, 19, 19);
  margin: 0 10px 0 10px;
}

.mainArea > .ListBox > .DoneItemBox {
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  min-height: 400px;
  align-items: center;
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 200px;
  border: 2px solid darkorchid;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}

.itemBox > .contentName {
  display: flex;
  width: 250px;
  height: 30px;
  margin: 10px;
  background-color: #dfdfdf;
  font-size: 25px;
  align-items: center;
}

.itemBox > .content {
  background-color: #dfdfdf;
  margin: 10px;
  width: 250px;
  height: 60px;
  margin-bottom: 15px;
  font-size: 20px;
}

.itemBox > .btnHandler {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.btnHandler > .deleteBtn > .submitBtn {
  background-color: #363636;
  color: #dfdfdf;
  font-size: 1rem;
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 0.1rem;
}

.doneYetBtn > .doneBtn > .submitBtn {
  background-color: #3977f0;
  color: #dfdfdf;
  border: transparent;
  font-size: 1rem;
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 1rem;
}
.doneYetBtn > .yetBtn > .submitBtn {
  background-color: #671818;
  color: #dfdfdf;
  border: transparent;
  font-size: 1rem;
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 1rem;
}
